#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sign in to your account
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=apcbopmlhpgpaedihcdkjdckpmkncjbc
Icon=brave-apcbopmlhpgpaedihcdkjdckpmkncjbc-Default
StartupWMClass=crx_apcbopmlhpgpaedihcdkjdckpmkncjbc
