#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GitHub
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=mjoklplbddabcmpepnokjaffbmgbkkgg
Icon=brave-mjoklplbddabcmpepnokjaffbmgbkkgg-Default
StartupWMClass=crx_mjoklplbddabcmpepnokjaffbmgbkkgg
