#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Painel | EC2 Management Console
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=nplooolfkjonoifnaaoajbincaakojnb
Icon=brave-lamaddiodmblflgbiibgfmadjcjniijj-Default
StartupWMClass=crx_nplooolfkjonoifnaaoajbincaakojnb
